@model NewDemoProject.Models.Incident

@{
    ViewBag.Title = "OnCreatingIncident";
}
<div class="container">
    <h3 style="font-family:Arial;padding-top:10px;padding-bottom:10px"><b>@Model.incidentarray.Count Ticket(s)</b> in my Queue</h3>
    @foreach (var item in Model.incidentarray)
    {
        <div style="background-color:antiquewhite">
            <!DOCTYPE html>
            <html>
            <head>
                <meta name="viewport" content="width=device-width" />

                <script src="~/Scripts/jquery-1.10.2.js"></script>
            </head>
            <body>
                @using (Html.BeginForm("OnSubmit", "incidentlist", FormMethod.Get))
                {
                    <div class="d-flex justify-content-between" style="height:60px">
                        <div class="p-2"><p> <b>Incident Number </b> : <br /> <b style="color:royalblue">INC</b><b style="color:royalblue">@Html.DisplayFor(modelitem => item.Incident_ID)</b></p></div>
                        <div class="p-2"><p><b>Incident Title</b> :  <br />@Html.DisplayFor(modelitem => item.Title)</p></div>
                        <div class="p-2"><p><b>Status</b> : @Html.DisplayFor(modelitem => item.status)</p></div>
                    </div>

                    <div class="d-flex justify-content-between" style="font-size:small; height:60px">
                        <div class="p-2"><p><b>Submitted By </b>: <br /> @Html.DisplayFor(modelitem => item.raised_by)</p></div>
                        <div class="p-2"><p><b>Created On </b>: <br />  @Html.DisplayFor(modelitem => item.created_on)</p> </div>
                        <div class="p-2"><p><b>Last Edited On </b>: <br />  @Html.DisplayFor(modelitem => item.altered_on)</p></div>
                    </div>

                    <div class="d-flex bd-highlight mb-3" style="font-size:small; height:60px">
                        <div class="p-2 bd-highlight"><label><b>Description</b> : <br />@Html.DisplayFor(modelitem => item.Description)</label> </div>
                        <div class="ml-auto p-2 bd-highlight"><p><b>Supported By</b> : <br />  @Html.DisplayFor(modelitem => item.SupportedBy)</p></div>
                    </div>
                    <hr />

                }
            </body>

        </html>
    </div>

}

</div>