@model NewDemoProject.Models.Incident

@{
    ViewBag.Title = "CreateIncident";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #txtAreaDescription {
        height: 200px;
        width: 900px !important;
    }

    .backgroundtextcolor {
        background-color: #f0f0f0 !important;
    }

    .txtColor {
        color: #395476 !important;
        font-weight: bold;
    }
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

   
    <h4 style="font-size:20px; color:orangered">Enter New Incident Details</h4>
    @using (@Html.BeginForm("SaveCreatedIncidents", "CreateIncident", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card">
            <div class="card-body">

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "txtColor" })
                <span style="color:red">*</span>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control col-md-8 backgroundTextColor", @placeholder = "Enter Title Here", @id = "txtTitle" })
                <div id="txtTitleErrorMsg" class="text-danger">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "txtColor" })
                <span style="color: red ">*</span>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control col-md-8 backgroundTextColor", @id = "txtAreaDescription" })
                <div id="txtAreaDescriptionErrorMsg" class="text-danger">
                    <script>
                        CKEDITOR.replace("txtAreaDescription");
                    </script>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <h4 class="text-primary">Incident Categorization</h4>
                    <div class="row">

                        <div class="col-md-4">
                            <label class="form-control-label txtColor">Business Function</label>
                            <span style="color:red">*</span>
                            @Html.DropDownList("BusinessFunction", ViewBag.BusinessFunctionValues as List<SelectListItem>, "--Choose--", new { @id = "ddlbusinessfunction", @class = "form-control col-md-6 backgroundTextColor" })
                            <div id="ddlBusunessFunErrorMsg" class="text-danger">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label txtColor">Services</label>
                            <span style="color:red">*</span>
                            @Html.DropDownList("Service", new SelectList(string.Empty), "--Choose--", new { @id = "ddlServices", @class = "form-control col-md-6 backgroundTextColor" })
                            <div id="ddlServiceErrorMsg" class="text-danger"></div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label txtColor">Category</label>
                            <span style="color:red">*</span>
                            @Html.DropDownList("Category", new SelectList(string.Empty), "--Choose--", new { @id = "ddlCategories", @class = "form-control col-md-6 backgroundTextColor" })
                            <div id="ddlCategoryErrorMsg" class="text-danger"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="divEmployeeDetails">

                <div id="EmployeeProjectDiv">
                    <h4 class="text-primary">Employee Details</h4>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Employee.First_Level_Manager_Name, new { @class = "txtColor" })
                                @Html.TextBoxFor(model => model.Employee.First_Level_Manager_Name, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Employee.Second_Level_Manager_Name, new { @class = "txtColor" })
                                @Html.TextBoxFor(model => model.Employee.Second_Level_Manager_Name, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Employee.Project.Project_Name, new { @class = "txtColor" })
                                @Html.TextBoxFor(model => model.Employee.Project.Project_Name, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Employee.Project.Workstation_Number, new { @class = "txtColor" })
                                @Html.TextBoxFor(model => model.Employee.Project.Workstation_Number, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Employee.Project.Extension_Number, new { @class = "txtColor" })
                                @Html.TextBoxFor(model => model.Employee.Project.Extension_Number, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Employee.Employee_ID, new { @class = "txtColor" })
                                @Html.TextBoxFor(model => model.Employee.Employee_ID, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>
                </div>

            </div>


                <div class="form-group">
                    <label class="txtColor">Attachment:</label>
                    <input id="fileInput" class="col-md-4" type="file" name="File Attachment" multiple/>
                </div>
                <div>
                    <input id="FileUpload" type="button" name="Upload" value="Upload File" />
                </div>
                <div class="text-success" id="SucessMessage"></div>
                <div class="text-danger" id="ErrorMessage"></div>
                <div class="text-danger" id="SelectFile"> </div>
                &nbsp;

            <div>
                <input type="reset" value="Cancel" class="btn btn-primary" id="btnReset" />
                <input type="submit" value="Submit" class="btn btn-primary" id="btnSubmitIncident" />
            </div>
        </div>

    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $('#divEmployeeDetails').hide();

        $('#ddlbusinessfunction').change(function () {
            if ($('#ddlbusinessfunction').val() == "") {
                $("#ddlServices").empty();
                $('#ddlCategories').empty();
                $("#ddlServices").append($('<option/>', { value: -1, text: '--Choose--' }));
                $('#ddlCategories').append($('<option/>', { value: -1, text: '--Choose--' }));
                $('#divEmployeeDetails').hide();
                $('#ddlBusunessFunErrorMsg').show();
            }
            else {
                $.ajax({
                    url: '/CreateIncident/GetIncidentServices',
                    method: 'Get',
                    data: { Business_id: $(this).val() },
                    dataType: 'json',
                    success: function (data) {
                        $('#ddlServices').empty();
                        $('#ddlServices').append($('<option/>', { value: -1, text: '--Choose--' }))
                        $(data).each(function (index, item) {
                            $('#ddlServices').append($('<option/>', { value: item.Value, text: item.Text }));
                        })
                        $('#divEmployeeDetails').show();
                        $('#ddlBusunessFunErrorMsg').hide();
                    }


                });
            }
        })
        $('#ddlServices').change(function () {
            if (($('#ddlServices').val() == "") || ($('#ddlServices').val() == "-1")) {
                $('#ddlCategories').empty();
                $('#ddlCategories').append($('<option/>', { value: -1, text: '--Choose--' }));
                $('#ddlServiceErrorMsg').show();
            }
            else {
                $.ajax({
                    url: '/CreateIncident/GetIncidentCategories',
                    data: { Service_id: $(this).val() },
                    method: 'Get',
                    dataType: 'json',
                    success: function (data) {
                        $(data).each(function (index, item) {
                            $('#ddlCategories').append($('<option/>', { value: item.Value, text: item.Text }))
                        })
                        $('#ddlServiceErrorMsg').hide();
                    }
                });
            }
        })
        $('#ddlCategories').change(function () {
            var ddlCategory = $('#ddlCategories').val();
            if (ddlCategory == "" || ddlCategory == "-1") {
                $('#ddlCategoryErrorMsg').show();
            }
            else {
                $('#ddlCategoryErrorMsg').hide();
            }

        })

        $('#btnSubmitIncident').click(function () {
            var ddlBusinessFunction = $('#ddlbusinessfunction').val();
            var ddlService = $('#ddlServices').val();
            var ddlCategory = $('#ddlCategories').val();
            var title = $('#txtTitle').val();
            var description = CKEDITOR.instances['editor'].getData();
            if (title != "") {
                $('#txtTitleErrorMsg').hide();
            }
            if (description != "") {
                $('#txtAreaDescriptionErrorMsg').hide();
            }
            if (ddlService == "" || ddlService == "-1") {
                $('#ddlServiceErrorMsg').html("Please select Service");
            }
            if (title == "" || description == "" || ddlBusinessFunction == "" || ddlCategory == "" || ddlCategory == "-1") {
                $('#txtTitleErrorMsg').html("Please Provide Incident Title");
                $('#txtAreaDescriptionErrorMsg').html("Please Provide Incident Description");
                $('#ddlBusunessFunErrorMsg').html("Please select business function");
                $('#ddlCategoryErrorMsg').html("Please select Category");
                return false;
            }
            else if (title != "" || description != "" || ddlBusinessFunction != "" || ddlService != "" || ddlCategory != "") {
                $('#txtTitleErrorMsg').hide();
                $('#txtAreaDescriptionErrorMsg').hide();
                $('#ddlBusunessFunErrorMsg').hide();
                $('#ddlServiceErrorMsg').hide();
                $('#ddlCategoryErrorMsg').hide();
                return true;
            }

        })
        $('#FileUpload').click(function () {
            var uploadedFiles = $("#fileInput").get(0);
            var files = uploadedFiles.files;
            var formData = new FormData();

            for (var i = 0; i < files.length; i++) {
                formData.append(files[i].name, files[i]);
            }
            if (files.length <= 0) {
               $('#SucessMessage').hide();
                $('#SelectFile').html("Please Select File");
                $('#SelectFile').show();
            }
            else {
                $.ajax({
                    url: '/CreateIncident/FileUpload',
                    type: 'Post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        $('#SelectFile').hide();
                        $('#SucessMessage').html("File Uploaded Sucessfully");
                        $('#SucessMessage').show();
                    },
                    error: function () {
                        $('#SucessMessage').hide();
                        $('#SelectFile').hide();
                        $('#ErrorMessage').html("Error while uploading files");
                        $('#ErrorMessage').show();
                    }
                })
            }
        })

    })
</script>
