@model NewDemoProject.ViewModel.EmployeeProjectViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<style>
    .lblColor {
        color: #395476 !important;
        font-weight: bold;
    }

    #sucessMsg {
        text-align: center;
    }
</style>

<h2>Profile Details</h2>
&nbsp;
<div id="sucessMsg" class="text-success"></div>
@using (Html.BeginForm("SaveProfileDetails", "Profile", FormMethod.Post))
{
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Employees.Name, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Employees.Name, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Employees.Email_ID, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Employees.Email_ID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Employees.Employee_ID, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Employees.Employee_ID, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Employees.Contact_Number, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Employees.Contact_Number, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Project.Project_Name, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Project.Project_Name, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Project.Department_Name, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Project.Department_Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Project.Location, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Project.Location, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Project.Workstation_Number, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Project.Workstation_Number, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Project.Extension_Number, new { @class = "lblColor" })
                    @Html.TextBoxFor(model => model.Project.Extension_Number, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save" id="btnProfileSave" />
                <input class="btn btn-primary" type="reset" value="Cancel" />
            </div>

        </div>

    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnProfileSave').click(function () {
            $('#sucessMsg').html("Changes Saved Sucessfully");
            setTimeout(function () {
                location.reload(true);
            }, 100000);

        })
    })
</script>

